install: true


addons: 
  apt:
    sources: ['ubuntu-toolchain-r-test']
    packages: ['p7zip']

script :
 - ./install_inputs.sh
    
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  local_dir: website/
  on:
    branch: master
